.upper-part{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Style for the container */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 30%;
}

.search-containers{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Style for the input field */
.search-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}

/* Style for the dropdown */
.result-dropdown {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    display: none; /* Initially hidden */
}

.image-placeholder {
    width: 200px; /* Set width of the placeholder */
    height: 200px;
    align-items: center;
    justify-content: center;
}
#image-placeholder{
    width: 100%;
    object-fit:scale-down;
    max-width:100%;
    max-height:100%;
}