#upper-part{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Style for the container */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 30%;
}

.search-containers{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Style for the input field */
.search-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}

/* Style for the dropdown */
.result-dropdown {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    display: none; /* Initially hidden */
}

.image-placeholder {
    width: 200px; /* Set width of the placeholder */
    height: 200px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon{
    width: 99%;
    object-fit:scale-down;
    max-width:100%;
    max-height:100%;
}

#seed-preview{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.x{
    position:absolute;
    top:5px;
    right:5px;
}

button {
    background-color: red; /* Colore di sfondo rosso */
    color: white; /* Testo bianco */
    border: none; /* Nessun bordo */
    border-radius: 50%; /* Forma circolare */
    width: 20px; /* Larghezza fissa */
    height: 20px; /* Altezza fissa */
    cursor: pointer; /* Cambia il cursore quando passa sopra */
}

button:hover {
    background-color: darkred; /* Colore più scuro al passaggio del mouse */
}

p{
    max-width: 99%;
}