 /* Style for the container */
 .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Style for the input field */
.search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}

/* Style for the dropdown */
.result-dropdown {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    display: none; /* Initially hidden */
}

.image-placeholder {
    width: 200px; /* Set width of the placeholder */
    height: 200px; /* Set height of the placeholder */
    background-color: #f0f0f0; /* Placeholder background color */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 16px;
    border: 1px solid #ccc; /* Optional border */
}